body {
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}





.banner {


    background: linear-gradient(180deg, #070211 0%, rgba(60, 57, 65, 0) 100%), url('../images/Banner\ Image.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 25px 100px;
    padding-right: 140px;
    flex-shrink: 0;



}




.wish {
    text-align: center;
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
    padding-left: 180px;
    margin-bottom: 0px;
}

.intro {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding-bottom: 300px;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 200px;
}

.offer {

    text-align: center;
    font-family: Inter;
}

.sale {
    color: #F00;
    font-size: 88px;

    font-weight: 700;
    margin: 0px;

}

.sale-details {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin: 0px;

}

.catagory {
    color: #070211;
    font-size: 48px;
    font-weight: 700;

}

.img-style {
    padding-left: 399px;

}

/* card styles */
.party {
    padding: 30px 70px 50px 30px;

    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 25px 100px;
    max-height: fit-content;
    align-items: center;
    border-radius: 20px;
}



.welcome {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.party .image {
    width: 270px;
    height: 370px;
}

.welcome-words {
    color: rgba(255, 255, 255, 0.80);

    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.joining {
    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 20px;

    font-weight: 400;

    text-transform: uppercase;
    background-color: transparent;
}

.joining:hover {
    background-color: rgb(204, 177, 21);

}

/* banner 2 style */

.banner2 {
    background: linear-gradient(180deg, #e98b99 0%, rgba(235, 136, 170, 0) 100%);

    height: 482px;
    flex-shrink: 0;
    max-width: 1320px;
    max-height: 400px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin: 0px auto;
    border-radius: 10px;


}

.banner-title {
    text-align: center;
    padding-top: 70px;
    text-align: center;
    font-family: Inter;
    font-size: 25px;

    font-weight: 450;

    text-transform: capitalize
}

.highlight {
    color: #F00;

}

.primary-button {

    padding: 10px 20px;

    gap: 10px;
    background-color: #F00;
    border: none;
    color: #FFF;

    font-family: Inter;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 10px;


}

.primary-button:hover {
    background-color: rgb(204, 177, 21);
}

.banner3 {
    display: flex;
    justify-content: space-around;
    background-color: white;
    max-height: 10000px;
    max-width: 1320px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin: 0px auto;
    padding: 45px 5px 40px 5px;

}

.container {

    width: 250px;
    height: 250px;
    background-position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image2 {
    width: 100.844px;
    height: 100.844px;
    flex-shrink: 0;

}

.container img {
    width: 100%;
    height: auto;
    display: block;
    padding: 30px;
    border-radius: 463px;
    border: 15px solid #F00;
}


.offer {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
    display: flex;
    text-align: left;




}

.soon {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 0px;
}

.details {body {
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}





.banner {


    background: linear-gradient(180deg, #070211 0%, rgba(60, 57, 65, 0) 100%), url('../images/Banner\ Image.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 25px 100px;
    padding-right: 140px;
    flex-shrink: 0;



}




.wish {
    text-align: center;
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
    padding-left: 180px;
    margin-bottom: 0px;
}

.intro {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding-bottom: 300px;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 200px;
}

.offer {

    text-align: center;
    font-family: Inter;
}

.sale {
    color: #F00;
    font-size: 88px;

    font-weight: 700;
    margin: 0px;

}

.sale-details {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin: 0px;

}

.catagory {
    color: #070211;
    font-size: 48px;
    font-weight: 700;

}

.img-style {
    padding-left: 399px;

}

/* card styles */
.party {
    padding: 30px 70px 50px 30px;

    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 25px 100px;
    max-height: fit-content;
    align-items: center;
    border-radius: 20px;
}



.welcome {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.party .image {
    width: 270px;
    height: 370px;
}

.welcome-words {
    color: rgba(255, 255, 255, 0.80);

    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.joining {
    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 20px;

    font-weight: 400;

    text-transform: uppercase;
    background-color: transparent;
}

.joining:hover {
    background-color: rgb(204, 177, 21);

}

/* banner 2 style */

.banner2 {
    background: linear-gradient(180deg, #e98b99 0%, rgba(235, 136, 170, 0) 100%);

    height: 482px;
    flex-shrink: 0;
    max-width: 1320px;
    max-height: 400px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin: 0px auto;
    border-radius: 10px;


}

.banner-title {
    text-align: center;
    padding-top: 70px;
    text-align: center;
    font-family: Inter;
    font-size: 25px;

    font-weight: 450;

    text-transform: capitalize
}

.highlight {
    color: #F00;

}

.primary-button {

    padding: 10px 20px;

    gap: 10px;
    background-color: #F00;
    border: none;
    color: #FFF;

    font-family: Inter;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 10px;


}

.primary-button:hover {
    background-color: rgb(204, 177, 21);
}

.banner3 {
    display: flex;
    justify-content: space-around;
    background-color: white;
    max-height: 10000px;
    max-width: 1320px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin: 0px auto;
    padding: 45px 5px 40px 5px;

}

.container {

    width: 250px;
    height: 250px;
    background-position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image2 {
    width: 100.844px;
    height: 100.844px;
    flex-shrink: 0;

}

.container img {
    width: 100%;
    height: auto;
    display: block;
    padding: 30px;
    border-radius: 463px;
    border: 15px solid #F00;
}


.offer {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
    display: flex;
    text-align: left;




}

.soon {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 0px;
}

.details {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.offer-title{
    padding-top: 50px;

}

    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.offer-title{
    padding-top: 50px;

}
